/* Error state */
.error-field {
  color: red !important;
  font-weight: 500;
  border: 1px solid red !important;
  border-radius: 5px;
}

.error-label {
  color: red !important;
  font-weight: 500;
}

.error-label::before {
  content: '❗' !important;
}

/* Success state */
.success-field {
  color: green !important;
  font-weight: 500;
  border: 1px solid green !important;
  border-radius: 5px;
}
